body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "title-container hexagons";
}

.title-container {
    grid-area: title-container;
    display: grid;
    background-color:#E0E4CE;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "logo title"
    
}

.title {
    grid-area: title;
    background-color:#E0E4CE;
    height: 150px;
    width: 275px;
    margin-top: 100px;
    padding-left: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.UON-logo {
    grid-area: logo;
    height: 145px;
    width: 145px;
    margin-top: 100px;
    padding-left: 25px;
}

.hexagons {
    grid-area: hexagons;
    background-color:#E0E4CE;
}
/*html 5 hexagon */
.html5:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #f47832;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.html5 {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    left: 26px;
    top: 75px;
    background-color: #f47832;
    position: relative;
}

.html5-text {
    width: 104px;
    height: 40px;
    background-color: #f47832;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.html5:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #f47832;;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*CSS 3 hexagon */

.css3:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #2eaade;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.css3 {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #2eaade;
    position: relative;
    top: 75px;
    left: -26px;
}

.css3-text {
    width: 104px;
    height: 40px;
    background-color: #2eaade;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.css3:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #2eaade;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*javaScript Hexagon */

.javaScript:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #ffd93a;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.javaScript {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #ffd93a;
    position: relative;
    top: -15px;
    left: 78px;
}

.javaScript-text {
    width: 104px;
    height: 40px;
    background-color: #ffd93a;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}


.javaScript:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #ffd93a;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    font-size: 1.2em;
}

/*java hexagon */
.java:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #ec2025;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.java {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #ec2025;
    position: relative;
    top: -195px;
    left: 130px;
}

.java-text {
    width: 104px;
    height: 40px;
    background-color: #ec2025;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.java:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #ec2025;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*github hexagon */
.github:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #000;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.github {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #000;
    position: relative;
    top: -195px;
    left: 182px;
}

.github-text {
    width: 104px;
    height: 40px;
    background-color: #000;
    color:#fff;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.github:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #000;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*sql hexagon */
.sql:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #0079d6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.sql {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #0079d6;
    position: relative;
    top: -375px;
    left: 234px;
}

.sql-text {
    width: 104px;
    height: 40px;
    background-color: #0079d6;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.sql:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #0079d6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*office hexagon */
.office-365:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #e43f01;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.office-365 {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #e43f01;
    position: relative;
    top: -375px;
    left: 286px;
}

.office-365-text {
    width: 104px;
    height: 40px;
    background-color: #e43f01;
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.office-365:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #e43f01;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*repair and maintenance */
.pc-repair:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #cb64eb;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.pc-repair {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #cb64eb;
    position: relative;
    top: -555px;
    left: 338px;
}

.pc-repair-text {
    width: 104px;
    height: 40px;
    background-color: #cb64eb;
    text-align: center;
    padding-top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;
}

.pc-repair:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #cb64eb;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}